In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

In [2]:
data = pd.read_csv('learningSet.csv')

C:\Users\Kate\AppData\Local\Temp\ipykernel_23672\3673836359.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [3]:
#creating a categorical df:
categorical = data.select_dtypes([object])
categorical.head()

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,CLUSTER,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,GENDER,DATASRCE,SOLP3,SOLIH,MAJOR,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,RFA_12,RFA_13,RFA_14,RFA_15,RFA_16,RFA_17,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,XXXX,T2,36,,,,,,,F,,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,XXXX,S1,14,E,H,,,,M,M,3,,,,2,,,,,,,,,,,,,,,,,,,,,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,A1E,,,,L1E,,,N1E,N1E,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,XXXX,R2,43,,U,,,,,M,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,,S4F,S4F,S4F,S4F,S4F,S4F,,S4D,S4D,,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,XXXX,R2,44,E,U,,,,,F,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,,S4E,S4E,S4E,S4E,S4E,S4E,S2D,S2D,A1D,A1D,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,XXXX,S2,16,E,H,,,,,F,3,,12,,,,,Y,Y,,,,Y,,,Y,,Y,,Y,,Y,,3,,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,A1E,L1D,L3D,,L3D,A2D,A2D,A3D,A3D,A3D,I4E,A3D,A3D,L,F,X,X,X,A

In [4]:
#checking for NUll values in all the columns:
categorical.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
NOEXCH        0
RECINHSE      0
RECP3         0
RECPGVG       0
RECSWEEP      0
MDMAUD        0
DOMAIN        0
CLUSTER       0
AGEFLAG       0
HOMEOWNR      0
CHILD03       0
CHILD07       0
CHILD12       0
CHILD18       0
GENDER        0
DATASRCE      0
SOLP3         0
SOLIH         0
MAJOR         0
GEOCODE       0
COLLECT1      0
VETERANS      0
BIBLE         0
CATLG         0
HOMEE         0
PETS          0
CDPLAY        0
STEREO        0
PCOWNERS      0
PHOTO         0
CRAFTS        0
FISHER        0
GARDENIN      0
BOATS         0
WALKER        0
KIDSTUFF      0
CARDS         0
PLATES        0
LIFESRC       0
PEPSTRFL      0
RFA_2         0
RFA_3         0
RFA_4         0
RFA_5         0
RFA_6         0
RFA_7         0
RFA_8         0
RFA_9         0
RFA_10        0
RFA_11        0
RFA_12        0
RFA_13        0
RFA_14        0
RFA_15        0
RFA_16        0
RFA_17        0
RFA_18        0
RFA_19        0
RFA_20        0
RFA_21        0
RFA_22        0
RFA_23        0
RFA_24        0
RFA_2R        0
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
dtype: int64

In [5]:
#It looks like there are no Nan values, but there are a lot of empty cells that is an equivalent. 
#We will replace empty spaces with Nan

In [6]:
categorical["MAILCODE"].value_counts()

     94013
B     1399
Name: MAILCODE, dtype: int64

In [7]:
categorical = categorical.apply(lambda x: x.replace(" ", np.NaN))

In [8]:
#checking for NUll values again and we are getting anotehr picture:
round(categorical.isna().sum()/len(categorical),4)*100

OSOURCE      0.97
STATE        0.00
ZIP          0.00
MAILCODE    98.53
PVASTATE    98.47
NOEXCH       0.01
RECINHSE    92.97
RECP3       97.89
RECPGVG     99.88
RECSWEEP    98.31
MDMAUD       0.00
DOMAIN       2.43
CLUSTER      2.43
AGEFLAG     30.97
HOMEOWNR    23.30
CHILD03     98.80
CHILD07     98.36
CHILD12     98.10
CHILD18     97.02
GENDER       3.10
DATASRCE    22.30
SOLP3       99.81
SOLIH       93.50
MAJOR       99.69
GEOCODE     84.02
COLLECT1    94.55
VETERANS    89.07
BIBLE       90.70
CATLG       91.76
HOMEE       99.07
PETS        84.99
CDPLAY      87.16
STEREO      86.59
PCOWNERS    89.02
PHOTO       94.98
CRAFTS      91.43
FISHER      92.53
GARDENIN    85.95
BOATS       97.87
WALKER      88.99
KIDSTUFF    98.39
CARDS       98.91
PLATES      99.41
LIFESRC     56.63
PEPSTRFL    52.55
RFA_2        0.00
RFA_3        2.04
RFA_4        2.42
RFA_5       35.21
RFA_6        3.73
RFA_7        9.30
RFA_8        3.68
RFA_9       11.79
RFA_10      34.32
RFA_11      10.92
RFA_12       9.35
RFA_13      42.15
RFA_14      19.77
RFA_15      68.63
RFA_16      21.40
RFA_17      28.98
RFA_18      22.29
RFA_19      25.67
RFA_20      52.61
RFA_21      36.91
RFA_22      26.88
RFA_23      58.98
RFA_24      38.75
RFA_2R       0.00
RFA_2A       0.00
MDMAUD_R     0.00
MDMAUD_F     0.00
MDMAUD_A     0.00
GEOCODE2     0.33
dtype: float64

In [9]:
#creating a new empty list and assigning 2 columns there:
drop_list = [cols for cols in categorical if cols in ["OSOURCE", "ZIP"]]
drop_list

['OSOURCE', 'ZIP']

In [10]:
#identifying columns with more than 85% of missing values and adding them to drop_list:
def get_null_columns(df, threshold=0.85):
    null_percentages = df.isnull().sum() / len(df)
    return list(null_percentages[null_percentages > threshold].index)

In [11]:
drop_list.extend(get_null_columns(categorical))
print(drop_list)

['OSOURCE', 'ZIP', 'MAILCODE', 'PVASTATE', 'RECINHSE', 'RECP3', 'RECPGVG', 'RECSWEEP', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18', 'SOLP3', 'SOLIH', 'MAJOR', 'COLLECT1', 'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'CDPLAY', 'STEREO', 'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER', 'KIDSTUFF', 'CARDS', 'PLATES']

In [12]:
#removing the columns included in a drop_list:
categorical_new = categorical.drop(columns=drop_list)

In [13]:
print(categorical.shape)
print(categorical_new.shape)

(95412, 74)
(95412, 42)

In [14]:
#working with Gender
categorical_new['GENDER'].value_counts()

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [16]:
categorical_new['GENDER'].unique()

array(['F', 'M', nan, 'C', 'U', 'J', 'A'], dtype=object)

In [17]:
categorical_new['GENDER'] = categorical_new['GENDER'].replace(" ", 'F')

In [18]:
categorical_new['GENDER'].value_counts()

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [19]:
df = pd.DataFrame(categorical_new["GENDER"].value_counts()).reset_index()

df.columns =["gender", "count"]
other = list(df[df["count"]< 2000]["gender"])

def clean_gender(x):
    if x in other:
        return "other"
    else:
        return x

categorical_new["GENDER"] = list(map(clean_gender, categorical_new["GENDER"]))

In [20]:
categorical_new['GENDER'].value_counts()

F        51277
M        39094
other     2084
Name: GENDER, dtype: int64